
.main_area {
    display: grid;
    grid-template-columns: 0.1fr 3fr 0.1fr;
    margin-top:4.5rem;
    gap: 1rem;
}

.content {
    min-height: 375px;
    height: 85vh;
    overflow-y: auto;
    padding: 1rem;
    grid-column: 1/-1;
}

@media (min-width: 1024px) {
    .main_area {
        display: grid;
        grid-template-columns: 2.2fr 7fr;
        margin-top: 4.5;
        gap: 1rem;
    }
    
    .content {
        min-height: 375px;
        height: 85vh;
        overflow-y: auto;
        padding: 1rem;
        grid-column: auto;
    }
}